a:link {text-decoration: none; color: Black;}
a:visited {text-decoration: none; color: Black;}
a:focus { /* Deklarationen */ }
a:hover {text-decoration: none; color: #0000D8 !important}
a:active { /* Deklarationen */ }

html, body {
  font-family: Helvetica;
  background-color: #FAFAFA;
  margin: 0px;
  padding: 0px;
}
header {
  width: 100%;
  height: 100px;
  background-color: #58D3F7;
}
#header-schrift {
  font-size: 50px;
  line-height: 100px;
}
.control {
  margin: 20px;
  padding: 10px;
  background-color: #E6E6E6;
  column-count: 3;
}
.control ul {
  line-height: 1.5;
  break-inside: avoid-column;
}
.control table {
  break-inside: avoid-column;
  padding-top: 15px;
  padding-bottom: 15px;
}
.options {
  margin: 20px;
  padding: 10px;
  background-color: #E6E6E6;
  column-count: 2;
}
.message {
  padding: 10px;
  border: 2px solid green;
  background-color: lime;
  z-index: 2;
  margin: 20px;
  text-align: center;
}
.temporaer {
  padding: 10px;
  border: 2px solid orange;
  background-color: yellow;
  z-index: 2;
  margin: 20px;
  text-align: center;
}
.permanent {
  padding: 10px;
  border: 2px solid darkred;
  background-color: red;
  z-index: 2;
  margin: 20px;
  text-align: center;
}
.cursor {
  cursor: pointer;
}
.skin {
  border: 0px;
  height: 100px;
  width: 50px;
}
.unsichtbar {
  display: none;
}
.userpass {
  display: none;
  font-size: 10px;
}
#text {
  margin: 20px;
  background-color: #E6E6E6;
}
#bantabelle {
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  background-color: LightGray;
  padding: 5px;
  border: 1px solid Gray;
}
#bantabelle td {
  border: 1px solid Gray;
	padding: 5px;
	text-align: center;
	color: Black;
}
#showSkins {
  display: block;
}
#hideSkins {
  display: none;
}
#showLogin {
  display: block;
}
#hideLogin {
  display: none;
}
section {
  margin: 20px;
  padding: 1px;
}
.ueberschrift {
  text-align: center;
}
.section_text {
  text-align: center;
  line-height: 1.5;
}
.after_main_accounts {
  border-bottom: 2px solid Black;
}
footer {
  text-align: center;
  margin: 10px;
}
hr {
  margin-top: 50px;
}
