html, body
{
    font-family: Helvetica;
    background-color: #FAFAFA;
}
#header {
    width: 100%;
    height: 100px;
    background-color: #58D3F7;
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}
#header-schrift {
    font-size: 50px;
}
main {
    background-color: #E6E6E6;
    top: 120px;
    left: 20px;
    right: 20px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
#anleitung {
    left: 20px;
    top: 20px;
    background-color: #E6E6E6;
    left: 20px;
    z-index: 2;
}
#anleitung ul {
  line-height: 1.5;
}
.message {
  padding: 10px;
  border: 2px solid green;
  background-color: lime;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.temporaer {
  padding: 10px;
  border: 2px solid orange;
  background-color: yellow;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.permanent {
  padding: 10px;
  border: 2px solid darkred;
  background-color: red;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#text {
    left: 20px;
    right: 20px;
    bottom: 0px;
    background-color: #E6E6E6;
}
#bantabelle {
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  background-color: LightGray;
  padding: 5px;
  border: 1px solid Gray;
}
#bantabelle td {
  border: 1px solid Gray;
	padding: 5px;
	text-align: center;
	color: Black;
}
.ueberschrift {
  text-align: center;
}
.section_text {
  text-align: center;
  line-height: 1.5;
}
